<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Material Portfolio Template Demo</title>
    <meta name="description" content="Demo of Material design portfolio template" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;amp;lang=en" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../public/css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../public/esayUI/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../public/esayUI/themes/icon.css">
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../public/js/Popper.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/js/bootstrap.min.js">
    <script type="text/javascript" src="../public/esayUI/jquery.easyui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mermaid@8.4.0/dist/mermaid.min.js"></script>
    <script>
    mermaid.initialize({ startOnLoad: true });
    </script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
</head>

<body id="top">
    {{if user}}
    {{include '../_partials/header.html'}}
    {{block 'body'}}{{/block}}
    {{include '../_partials/footer.html'}}
    {{else}}
    <script type="text/javascript">
    window.location.href = '/'
    </script>
    {{/if}}
</body>

</html>