<footer class="mdl-mini-footer">
    <div class="footer-container">
        <div class="mdl-logo">&copy; Unitiled. More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></div>
        <ul class="mdl-mini-footer__link-list">
            <li><a href="#">Privacy & Terms</a></li>
        </ul>
    </div>
</footer>
</main>
</div>
<script src="/public/js/material.min.js"></script>
<script>
$('#site-logo-down').css('background','')
	
</script>
