<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Lowin</title>
	<link rel="stylesheet" href="/public/css/auth.css">
</head>

<body>
	<div class="lowin">
		<div class="lowin-brand">
			<img src="/public/img/kodinger.jpg" alt="logo">
		</div>
		<div class="lowin-wrapper">
			<div class="lowin-box lowin-login">
				<div class="lowin-box-inner">
					<form id="login_form">
						<p>Sign in to continue</p>
						<div class="lowin-group">
							<label>Email</label>
							<input type="email" autocomplete="email" name="email" class="lowin-input" required>
						</div>
						<div class="lowin-group password-group">
							<label>Password <a href="/forgot">Forgot Password?</a></label>
							<input type="password" name="password" autocomplete="current-password" class="lowin-input" required>
						</div>
						<button class="lowin-btn login-btn">
							Sign In
						</button>

						<div class="text-foot">
							Don't have an account? <a href="" class="register-link">Register</a>
						</div>
					</form>
				</div>
			</div>

			<div class="lowin-box lowin-register">
				<div class="lowin-box-inner">
					<form id="register_form">
						<p>Let's create your account</p>
						<div class="lowin-group">
							<label>Name</label>
							<input required type="text" name="username" autocomplete="name" class="lowin-input">
						</div>
						<div class="lowin-group">
							<label>Email</label>
							<input required type="email" autocomplete="email" name="email" class="lowin-input">
						</div>
						<div class="lowin-group">
							<label>Password</label>
							<input required type="password" name="password" autocomplete="current-password" class="lowin-input">
						</div>
						<button class="lowin-btn" type="submit">
							Sign Up
						</button>

						<div class="text-foot">
							Already have an account? <a href="" class="login-link">Login</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	
		<footer class="lowin-footer">
			Design By @itskodinger. More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
		</footer>
	</div>

	<script src="/public/js/auth.js"></script>
	<script>
		Auth.init({
			login_url: '#login',
		});
	</script>
	<script src="/node_modules/jquery/dist/jquery.js"></script>
  	<script>
    $('#register_form').on('submit', function (e) {
      e.preventDefault()
      var formData = $(this).serialize()
      console.log(formData)
      $.ajax({
        url: '/register',
        type: 'post',
        data: formData,
        dataType: 'json',
        success: function (data) {
          var err_code = data.erro_code
          var err_message=data.erro_message
          if (err_code === 0) {
             alert(err_message)
            //服务端重定向针对异步请求无效
            window.location.href = '/'
          } else if (err_code === 1) {
            	alert(err_message)
          } else if (err_code === 500) {
            	alert(err_message)
          }
        }
      })
    })
    $('#login_form').on('submit', function (e) {
      e.preventDefault()
      var formData = $(this).serialize()
      console.log(formData)
      $.ajax({
        url: '/login',
        type: 'post',
        data: formData,
        dataType: 'json',
        success: function (data) {
          var err_code = data.erro_code
          var err_message=data.erro_message
          if (err_code === 0) {
             alert(err_message)
            //服务端重定向针对异步请求无效
            window.location.href = '/index'
          } else if (err_code === 1) {
            	alert(err_message)
          } else if (err_code === 500) {
            	alert(err_message)
          }
        }
      })
    })
  </script>
</body>
</html>