{{extend './_layouts/home.html'}}
{{block 'body'}}
<div class="site-content">
    <div class="container">
        <div class="mdl-grid site-max-width">
            {{each files}}
            <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                <div class="mdl-card__media">
                    <img class="article-image" src="{{$value.imgName}}" border="0" alt="">
                </div>
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Sky Reach</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    {{$value.title}}
                </div><br>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="/portifolio-page?idR={{$value.idR}}">
                        Learn More
                    </a>
                </div>
            </div><br>
           {{/each}}
        </div>
    </div>
</div>
{{/block}}